.contact{
    height: 500px;
    background-color: rgba(164, 50, 62, 0.444);
}

.contact_header{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #3EA9D8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 30%;
    padding-top: 10px;
}

