.item-list{
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:rgba(21, 130, 114, 0.815);
    border: 1.5px solid wheat;
    padding-top: 20px;
}

.item-container{
   width: 300px;
   height: 400px;
   padding: 10px;
  overflow: hidden;
  margin: 40px 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: blanchedalmond;
  transition: transform .3s; 
}
.item-container:hover
{
    -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

.item-img{
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: block;
    object-fit: cover;
}

.item-description{
    margin: 0px;
}
.item-description p{
    margin: 0px;
}

.productButton{
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    padding: 4px;
}

